:root {
  --Basic-red: #EE3643;
  --Basic-green: #63A63E;
  --Basic-grey: #3D546F;
  --Basic-greylight: #C5C5C5;
  --Basic-background: #F1F5F7;
  --White: #FFFFFF;
  --Special-yellow: #FFBF47;
  --Special-blue: #3BBCE3;
  --Special-lilac: #DC91D8;
  --Special-greenlight: #8ED78F;
  --Special-yellowlight: #FFD180;
  --Success: #5FBB2D;
  --Warning: #FFBF47;
  --Error: #BA2732;
}

img {
  width: 100%;
  height: auto;
}

.page-body {
  margin: 0;

  min-width: 960px;
  height: 100%;
  padding: 0;

  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--White);

  background-color: var(--White);
}

.wrapper {
  margin: 0 auto;

  width: 940px;
}

.visually-hidden {
  position: absolute;
  margin: -1px;

  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.main-header {
  height: 320px;
  background-color: var(--Basic-background);
}

/*========================= HEADER-TOP ==========================*/
.main-header-top {
  width: 100%;

  background-color: #293449;

}

.main-header-top .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;


  margin-bottom: 46px;
}

.main-header .main-header-logo {
  display: block;

  height: 47px;
  width: 220px;

  background: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header-logo img {
  margin-top: 12px;
  height: 18px;
}

.main-header .main-header-search {
  padding-left: 42px;
  width: 215px;
}

.main-header-search input {
  width: 140px;

  color: var(--White);

  background-color: transparent;

  border: none;
}

.main-header .user-navigation {

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-left: auto;
}

.main-header .user-navigation-item {}

.main-header .marks, .cart, .order {
  padding: 10px 30px;
  color: var(--White);
  text-decoration: none;

}

.main-header .marks {
  position: relative;
}

.main-header .marks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 16px;
  height: 18px;
  background-image: url("./../img/icon-bucket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header .order {
  background-color: var(--Basic-green);
}




/*====================== HEADER-MIDDLE =============================*/

.main-page-title {
  grid-area: main-page-title;

  margin-left: 30px;
  margin-top: 0;
  padding-right: 73px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--Basic-red);
}

.links {
  margin-top: 14px;
  margin-left: 15px;
}

.contacts {
  margin-top: 10px;
}
.header-contact-phone {
  grid-area: header-contact-phone;

  padding: 7px 50px 8px 74px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: var(--Basic-red);

  border: 3px solid var(--White);
}

.header-address {
  grid-area: address;

  margin-top: 8px;

  font-style: normal;
  font-size: 14px;
  color: #32425C;
}

.login-link {
  grid-area: login-link;

  position: relative;

  padding: 12px 27px 12px 45px;
  margin-right: 10px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  background-color: var(--White);
}

.signup-link {
  grid-area: signup-link;

  padding: 12px 24px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  background-color: var(--White);
}

.login-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 20px;
  width: 20px;
  height: 17px;
  background-image: url("./../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-middle .wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;

  margin-bottom: 44px;


  grid-template-areas:
    'main-page-title contacts links';
}


/*======================= HEADER-BOTTOM ============================*/

.main-header-bottom {
  width: 940px;
  margin: 0 auto;
  min-height: 60px;
  margin-bottom: 60px;

  font-family: Cuprum;
  list-style: none;

  background-color: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
}

.main-header-bottom .site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation-item a {
  text-decoration: none;
  color: var(--White);
}

/*========================= MAIN-CATEGORIES ==========================*/
.materials {
  grid-area: materials;

  padding-left: 23px;

  background-color: var(--Special-yellow);
}

.main-buttons .materials {
  background-image: url("../img/icon-bucket.svg");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.instruments {
  grid-area: instruments;

  padding-left: 23px;

  background-color: var(--Special-blue);
}

.main-buttons .instruments {
  background-image: url("../img/icon-drill.svg");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.technology {
  grid-area: technology;

  padding-left: 23px;

  background-color: var(--Special-lilac);
}

.main-buttons .technology {
  background-image: url("../img/icon-tractor.svg");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.sales {
  grid-area: sales;

  padding-left: 23px;

  background-color: var(--Special-greenlight);
}

.main-buttons .sales {
  background-image: url("../img/icon-trolley.svg");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.delivery {
  grid-area: delivery;

  padding-left: 23px;

  background-color: var(--Special-yellow);
}

.main-buttons .delivery {
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.category-slider {
  grid-area: slider;
}

.category-slider .wrapper {}

.category-slider .slider input {
  display: none;
}

.category-slider .category-slide {
  display: none;
  position: relative;
}

.category-slider #slide-1:checked~.togglers .toggler:nth-of-type(1),
.category-slider #slide-2:checked~.togglers .toggler:nth-of-type(2) {
  width: 6px;
  height: 6px;
  border: 2px solid var(--White);
  background: #EE3643;
  border-radius: 50%;
}

.category-slider #slide-1:checked~.category-slides .category-slide:nth-of-type(1),
.category-slider #slide-2:checked~.category-slides .category-slide:nth-of-type(2) {
  display: block;
}

.category-slider .togglers {
  display: flex;

  /*position: absolute;
  z-index: 100;*/
  position: absolute;
  z-index: 100;

  padding: 220px 295px 36px;
}

.category-slider .toggler {
  margin-right: 14px;
  width: 6px;
  height: 6px;
  border: 2px solid var(--White);
  background: transparent;
  border-radius: 50%;
}

 .slider--1 {
  width: 620px;
  height: 266px;
  padding-top: 24px;
  padding-left: 23px;
  box-sizing: border-box;

  background-image: url('../img/slider/perforator.jpg');
  background-repeat: no-repeat;
}

 .slider--2 {
  width: 620px;
  height: 266px;
  padding-top: 24px;
  padding-left: 23px;
  box-sizing: border-box;

  background-image: url('../img/slider/drill.jpg');
  background-repeat: no-repeat;
}

.category-slider .slide-title {
  margin: 0 0 5px 0;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.category-slider .slide-text {
  margin: 0 0 113px 0;
}

.category-slider .next-slide {
  content: "";
  position: absolute;

  width: 22px;
  height: 40px;

  right: 20px;
  top: 122px;

  z-index: 100;

  background-image: url("../img/icon-right.png");
  cursor: pointer;
}

.category-slider .prev-slide {
  content: "";
  position: absolute;

  left: 24px;
  top: 122px;

  width: 22px;
  height: 40px;

  z-index: 100;

  background-image: url("../img/icon-right.png");
  transform: rotate(-180deg);
  cursor: pointer;
}

.slider--1 .intro-button,
.slider--2 .intro-button {
  position: absolute;
  z-index: 100;
}


.main-buttons .wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;

  margin-top: 60px;
  margin-bottom: 40px;


  grid-template-areas:
    'materials instruments technology'
    'slider slider sales'
    'slider slider delivery';
}

.categories h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.main-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--White);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 24px;
  background: rgba(255, 255, 255, 0.3);
}

/*========================= MAIN-POPULAR-PRODUCTS ==========================*/
.popular-products {}

.intro {
  padding-left: 28px;
  padding-right: 14px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #F9F5F0;
}

.intro-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
}

.intro-button {
  padding: 10px 24px;

  text-decoration: none;
  text-transform: uppercase;
  color: var(--White);

  background: var(--Basic-red);
}

.product-list {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;

  list-style: none;
}

.product-card {
  /*display: flex;
  justify-content: space-between;*/
  margin-bottom: 20px;
  margin-right: 20px;

  width: 220px;

  font-family: PT Sans;
  font-weight: 700;
  line-height: 20px;

  border: 1px solid #EAEAEA;
}

.product-card--new {
  position: relative;
}

.product-card--new::before {
  position: absolute;
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
  background-image: url("./../img/new.svg");
}


.product-card .photo {
  padding: 6px 18px 8px;

  width: 184px;
  height: 164px;
}

.product-card .title {
  text-align: center;
  font-weight: bold;
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.product-card .old-price {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #A9A9A9;
}
.product-card .new-price, .price {
  display: block;
  margin-bottom: 21px;

  padding: 10px 44px 10px 32px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--White);

  background-image: url('../img/price-shape.svg');
  background-size: 141px 38px;
  background-repeat: no-repeat;
  background-position: 55% 50%;
  border-radius: 2px;
  cursor: pointer;
}

.product-card .price {
  margin-top: 53px;
}





/*========================= MAIN-POPULAR-MANUFACTURERS ==========================*/

.manufacturers .intro {
  padding-left: 28px;
  padding-right: 14px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #F9F5F0;
}

.popular-manufacturers-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  text-transform: uppercase;
}

.manufacturers .manufacturers-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
  gap: 20px;

  /*margin-top: 60px;*/
  margin-bottom: 70px;



  grid-template-areas:
    'manufacturer-1 manufacturer-2 manufacturer-3 manufacturer-4'
    'manufacturer-5 manufacturer-6 manufacturer-7 manufacturer-8';
}


.manufacturer-1,
.manufacturer-2,
.manufacturer-3,
.manufacturer-4,
.manufacturer-5,
.manufacturer-6,
.manufacturer-7,
.manufacturer-8 {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #EAEAEA;
}

.manufacturer-1 {
  grid-area: manufacturer-1;
}

.manufacturer-2 {
  grid-area: manufacturer-2;
}

.manufacturer-3 {
  grid-area: manufacturer-3;
}

.manufacturer-4 {
  grid-area: manufacturer-4;
}

.manufacturer-5 {
  grid-area: manufacturer-5;
}

.manufacturer-6 {
  grid-area: manufacturer-6;
}

.manufacturer-7 {
  grid-area: manufacturer-7;
}

.manufacturer-8 {
  grid-area: manufacturer-8;
}

/*========================= ABOUT-COMPANY ==========================*/

.about-company .wrapper {
  padding-top: 50px;
  padding-bottom: 70px;

  display: flex;
  justify-content: space-between;
}

.company-info {
  width: 460px;
}

.map {
  width: 300px;
}

.company-info h3,
.map h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.description-text {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.list-items-text {
  color: #000000;
}

.map-img {
  margin-bottom: 25px;

  width: 300px;
  height: 158px;
}


/*========================= SERVICE  ==========================*/

.features {
  width: 100%;
  background-color: var(--Basic-background);
}

.features .wrapper {
  padding-top: 64px;
  height: 522px;
}

.features .title {

  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.features .text {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.features .slider {
  display: flex;
  justify-content: space-between;
}

.features input {
  display: none;
}

.features .slide {
  display: none;
}

.features #feature-1:checked ~ .togglers .toggler:nth-of-type(1),
.features #feature-2:checked ~ .togglers .toggler:nth-of-type(2),
.features #feature-3:checked ~ .togglers .toggler:nth-of-type(3){

  /*padding: 8px 138px 18px 22px;*/

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #32425C;

  background: var(--White);
}

.features #feature-1:checked ~ .slides .slide:nth-of-type(1),
.features #feature-2:checked ~ .slides .slide:nth-of-type(2),
.features #feature-3:checked ~ .slides .slide:nth-of-type(3){
  display: block;
}


.features .togglers {
  display: flex;
  flex-direction: column;
}

.features .toggler {
  width: 240px;
  height: 61px;
  padding-top: 14px;
  padding-left: 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  vertical-align: middle;

  background: #32425C;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.slide--1 {
  width: 600px;
  height: 261px;

  background-image: url('../img/delivery.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.slide--2 {
  width: 600px;
  height: 283px;

  background-image: url('../img/guarantee.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.slide--3 {
  width: 600px;
  height: 285px;

  background-image: url('../img/credit.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.features .slide-name {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;

  color: #32425C;
}

.features .slide-text {
  width: 330px;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/*=========================================== MODAL-WINDOWS  ===========================================*/


.modal-feedback {
  width: 620px;
  height: 430px;

  color: #000000;

  border-top: 7px solid var(--Basic-red);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.modal-feedback .feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-feedback .modal-wrapper {
  padding: 46px 80px 37px 80px;

  display: grid;
  grid-template-columns: 240px 220px;
  grid-template-rows: 74px 150px;

  grid-template-areas:
    'modal-feedback-name modal-feedback-email'
    'modal-feedback-text modal-feedback-text';
}

.modal-feedback-name {
  grid-area: modal-feedback-name;
}

.modal-feedback-email {
  grid-area: modal-feedback-email;
}

.modal-feedback-text {
  grid-area: modal-feedback-text;
}


.modal-feedback label {
  margin-bottom: 11px;
}

.modal-feedback-email input,
.modal-feedback-name input {
  display: block;

  width: 220px;
  height: 38px;

  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.modal-feedback-text input {
  display: block;
  margin-bottom: 10px;

  width: 460px;
  height: 114px;

  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.modal-feedback-email input[placeholder],
.modal-feedback-name input[placeholder],
.modal-feedback-text input[placeholder] {
  padding-left: 12px;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;

}

.modal-feedback-text input[placeholder] {
  padding-bottom: 84px;
}

.modal-feedback-button .intro-button {
  padding: 11px 198px 9px 180px;

  font-size: 14px;
  line-height: 18px;
}

.modal-feedback-button {
  padding: 37px 80px;
}

.modal-header {
  width: 100%;
  background-color: #FFFFFF;
}
.modal-footer {
  width: 100%;
  background-color: #F4F4F4;
}

.modal-feedback-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-feedback-close::before,
.modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--Basic-red);
}

.modal-feedback-close::before {
  transform: rotate(45deg);
}

.modal-feedback-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  width: 980px;
  height: 449px;
  border-top: 7px solid var(--Basic-red);
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}









/*=========================================== CATALOG-PAGE  ===========================================*/
.main-catalog {
  font-family: PT Sans, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
}

.main-catalog .catalog-flex {
  display: flex;
  justify-content: space-between;
}

.bread-crumbs {
  margin-bottom: 20px;
  margin-top: 20px;
}

.bread-crumbs .wrapper {}

.bread-crumbs .bread-crumbs-list {
  display: flex;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;
}
.bread-crumbs .bread-crumbs-item {
  position: relative;
  display: flex;

  font-size: 13px;
  line-height: 18px;
}
.bread-crumbs .bread-crumbs-link {
  margin-right: 42px;
  display: block;

  text-decoration: none;

  color: var(--basic-black);
}

.bread-crumbs-item:not(:nth-of-type(4)):before {
  content: "";
  display: block;

  position: absolute;
  right: 17px;
  top: 2px;

  width: 8px;
  height: 14px;

  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
}

.page_title {
}

.page_title .wrapper {
  background-color: var(--Basic-background);
}

.page_title .catalog-page-title {
  padding: 30px 740px 30px 30px;
  font-family: Cuprum;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

  color: #32425C;
}

/*=======FILTERS=======*/

.catalog-filters {}
.catalog-filters .wrapper {}
.catalog-filters .sorting {
  position: relative;
  line-height: 18px;
}
.sorting {
  margin-left: auto;

  display: flex;
  width: 700px;

  background-color: #F7F3EC;
}

.sorting .sorting-list-words {
  height: 38px;

  display: flex;
  justify-content: flex-start;

  padding: 0;
  margin: 0;

  list-style: none;

}

.sorting-list-words a {
  padding-bottom: 1px;
  border-bottom: 1px dotted var(--Basic-red);

  opacity: 30%;

  text-decoration: none;
}

.sorting-list-word:nth-child(1) {
  margin: 0 140px 0 0;
  padding: 0 0 0 19px;

  align-self: center;
}

.sorting-list-word:nth-child(2) {
  margin-right: 67px;

  align-self: center;
}

.sorting-list-word:nth-child(3) {
  margin-right: 65px;

  align-self: center;
}

.sorting-list-word:nth-child(4) {
  margin-right: 46px;

  align-self: center;
}

.sorting-list-updown {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-list-updown .sorting-updown {
  margin-right: 20px;
}

.filter {
  margin-top: -37px;
  width: 220px;
  margin-right: 21px;
}

.filter .wrapper {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
}

.filter .filter-name {
  width: 220px;
  height: 38px;


  background-color: #F7F3EC;
}


.filter .title {
  padding-left: 18px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.filter-range {
  width: 220px;

  color: #000000;
  text-transform: uppercase;
}

.controls {
display: flex;

}


.price-controls {
  position: relative;

  width: 95px;
  height: 38px;

  font-size: 0;

  background: #F7F3EC;
}



.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 95px;
  padding-left: 42px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;

  background: #F7F3EC;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #63A63E;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}


.filter .price-filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.filter .price-filter-range {

}

.filter .form {
  width: 220px;
}

.filter .fieldset {
  margin-top: 16px;
}

.filter .legend {
  margin-bottom: 15px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter .item {
  display: flex;

  margin-bottom: 16px;
 /* padding-left: 20px;*/
  padding-right: 20px;
  height: 30px;
  width: 140px;
  align-items: center;
}

.filter .filter-checkbox,
.filter .filter-radio {
  display: none;
}




.filter .filter-checkbox ~ .indicator .yes,
.filter .filter-radio ~ .indicator .yes {
  display: none;

  margin-right: 8px;
}

.filter .filter-checkbox ~ .indicator .no,
.filter .filter-radio ~ .indicator .no {
  display: block;

  margin-right: 12px;
}

.filter .filter-checkbox:checked ~ .indicator .yes,
.filter .filter-radio:checked ~ .indicator .yes {
  display: block;
}

.filter .filter-checkbox:checked ~ .indicator .no,
.filter .filter-radio:checked ~ .indicator .no {
  display: none;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #E5E5E5;
}

.filter .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter .label {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}

.filter .filter-submit {
  padding: 10px 79px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--White);
  border: 1px solid #E5E5E5;
  cursor: pointer;
}





/*===========CATALOG-PRODUCTS==========*/

.catalog-products {}

.catalog-products .wrapper {}

.catalog-products .catalog-products-list {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-products .product-card {
  margin-bottom: 20px;
  margin-right: 20px;

  width: 220px;

  font-family: PT Sans;
  font-weight: 700;
  line-height: 20px;

  border: 1px solid #EAEAEA;
}

.catalog-products .product-card-link {
  text-decoration: none;
}

.catalog-products .title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-products .photo {
  padding: 6px 18px 8px;

  width: 184px;
  height: 164px;
}

.catalog-products .old-price {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #A9A9A9;
}

.catalog-products .new-price, .price {
  display: block;
  margin-bottom: 21px;

  padding: 10px 44px 10px 32px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--White);

  background-image: url('../img/price-shape.svg');
  background-size: 141px 38px;
  background-repeat: no-repeat;
  background-position: 55% 50%;
  border-radius: 2px;
}


.about-rockdrills {
  width: 100%;
  background-color: var(--Basic-background);
}

.about-rockdrills .wrapper {
  padding-top: 64px;
  height: 261px;
}

.about-rockdrills .title {
  font-family: Cuprum;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

  color: #000000;
}

.about-rockdrills .text {
  text-transform: none;
}

.pagination {}

.pagination .wrapper {}

.pagination .pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 236px;
  list-style: none;
}

.pagination .pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination .pagination-link {
  display: block;
  padding: 10px 15px;

  text-decoration: none;

  color: #000000;
  background-color: var(--White);

  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

/*============================ FOOTER =====================*/

.main-footer {}

.main-footer .footer-navigation {
  width: 100%;

  position: relative;

  background-color: #32425C;
}

.footer-navigation .wrapper {
  display: grid;
  grid-template-columns: 370px 546px;
  grid-template-rows: 68px 102px;
  gap: 22px;

  grid-template-areas:
    'footer-logo navigation-top'
    'footer-contacts navigation-bottom';
}

.footer-navigation .footer-logo {
  grid-area: footer-logo;

  position: absolute;
  top: 0;
  height: 68px;
  width: 220px;

  display: block;

  background: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-navigation .footer-logo img {
  margin: 20px 40px 20px 0px;

  height: 23px;

}
.footer-navigation .navigation-top,
.footer-navigation .navigation-bottom {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: space-between;

}

.footer-navigation .navigation-top {
  grid-area: navigation-top;
  margin-top: 37px;
}

.footer-navigation .navigation-top-items {
  text-decoration: none;
  color: #F1F5F7;
}

.footer-navigation .footer-contacts {
  grid-area: footer-contacts;

  width: 336px;

}

.footer-contacts address {
  font-style: normal;
  color: #F3F7F9;

}

.footer-contacts .contacts-phone {
  text-decoration: none;
  color: #F3F7F9;
}

.footer-navigation .navigation-bottom {
  grid-area: navigation-bottom;

  justify-content: space-around;
}

.footer-navigation .navigation-bottom-items {
  text-decoration: none;
  color: #FFD180;
}

.main-footer .footer-links {
  width: 100%;

  background-color: #293449;
}

.footer-links .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links .footer-copyright {
  font-size: 16px;
  line-height: 18px;
}

.footer-links .footer-social {

}

.footer-social .footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.social-link-vk,
.social-link-fb,
.social-link-ig {
  margin-right: 5px;

  display: flex;

  align-items: center;
  color: var(--White)
}

.social-link-vk:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-vk.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212A3A;
  /*background-color: linear-gradient(0deg, #212A3A, #212A3A);*/

  border-radius: 50%;
}

.social-link-fb:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-fb.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212A3A;
  /*background-color: linear-gradient(0deg, #212A3A, #212A3A);*/

  border-radius: 50%;
}

.social-link-ig:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-insta.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212A3A;
  /*background-color: linear-gradient(0deg, #212A3A, #212A3A);*/

  border-radius: 50%;
}

.footer-links .footer-feedback {
  display: flex;

  align-items: center;

  font-size: 16px;
  line-height: 18px;
}

.footer-links .footer-feedback a {
  text-decoration: none;

  font-style: normal;
  color: #FFD180;
}

.footer-feedback .feedback-mail {
  margin-right: 50px;
}


.footer-feedback .feedback-development {
  width: 98px;
}





